@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-moz-selection {
    /* Code for Firefox */
    color: theme('colors.galseid-yellow');
    background: theme('colors.galseid-red-light');
  }

  ::selection {
    color: theme('colors.galseid-yellow');
    background: theme('colors.galseid-red-light');
  }

  body {
    position: relative;
    background: #F5F5F5 url('../../public/assets/img/bg-blur.png') repeat center top;
    background-size: 100%;
    color: #1d1d1d;
  }

  button, a {
    display: inline-block;
    min-height: 44px;
    min-width: 44px;
  }

  .paragraphs > p {
    margin-bottom: 24px;
  }

  .image-detail {
    min-height: 300px;
    background: url('../../public/assets/img/Image-placeholder.png') no-repeat center center;
    background-size: cover;
  }

  #drawerMobile {
    left: 0;
  }

  #drawerMobile.close-drawer {
    left: -100%;
  }
}

@layer components {
  .galseid-title {
    @apply relative text-galseid-dark text-2xl font-bold font-display after:content-[''] after:w-11 after:border-b-4 after:border-solid after:border-galseid-red-dark after:rounded-full after:block after:text-center after:mx-auto after:mt-1;
  }

  .galseid-bg-title {
    @apply inline-block h-12 w-12 bg-gradient-to-tr from-galseid-orange to-galseid-yellow rounded-full mr-[-30px] pt-2;
  }

  .bg-galseid-blur {
    @apply bg-gradient-to-br from-white/90 to-white/40 rounded-lg border-t border-t-white border-l border-l-white/80 border-b border-b-white/20 backdrop-blur-xl shadow-xl
  }
  
  .btn-galseid-link {
    @apply inline-block min-h-[44px] px-3 font-medium text-lg/[44px] text-black rounded-lg hover:bg-black/5 font-header transition-all;
  }

  .btn-galseid-social {
    @apply inline-block bg-white/10 hover:bg-white/0 hover:border hover:border-galseid-yellow text-2xl/[42px] justify-center text-center rounded-lg w-11 h-11 m-1 transition-all;
  }

  .btn-galseid-yellow {
    display: inline-block;
    min-height: 44px;
    line-height: 44px;
    padding: 4px 20px;
    background-image: linear-gradient(to right, theme('colors.galseid-orange'), theme('colors.galseid-yellow'), theme('colors.galseid-yellow'), theme('colors.galseid-orange'));
    background-position: left;
    background-size: 200%;
    border-radius: 12px;
    box-shadow: 0 6px 30px 0px rgba(239, 155, 0, 0.3);
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
  } .btn-galseid-yellow:hover {
    background-position: right;
    font-size: 21px;
  }

  .btn-galseid-red {
    display: inline-block;
    min-height: 44px;
    line-height: 44px;
    padding: 4px 20px;
    background-image: linear-gradient(to right, theme('colors.galseid-red-dark'), theme('colors.galseid-red-light'), theme('colors.galseid-red-light'), theme('colors.galseid-red-dark'));
    background-position: left;
    background-size: 200%;
    border-radius: 12px;
    box-shadow: 0 6px 30px 0px rgba(239, 0, 0, 0.3);
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
  } .btn-galseid-red:hover {
    background-position: right;
    font-size: 21px;
  }


  /* BEGIN: Hamburger Animated Menu */

  .hamburger-menu-container {
    transition: all .5s ease-in-out;
  }

  .hamburger-menu-animated {
    width: 42px;
    height: 6px;
    border-radius: 30px;
    background-image: linear-gradient(to right, theme('colors.galseid-red-dark'), theme('colors.galseid-orange'), theme('colors.galseid-yellow'));
    /* box-shadow: 0 6px 30px 0px rgba(239, 155, 0, 0.3); */
    cursor: pointer;
    transition: all .5s ease-in-out;
  }

  .hamburger-menu-animated::before,
  .hamburger-menu-animated::after {
    content: '';
    position: absolute;
    width: 42px;
    height: 6px;
    border-radius: 30px;
    background-image: linear-gradient(to right, theme('colors.galseid-dark'), #303030);
    /* box-shadow: 0 6px 30px 0px rgba(239, 155, 0, 0.3); */
    transition: all .5s ease-in-out;
  }

  .hamburger-menu-animated::before {
    transform: translate(-8px,-14px);
  }
  .hamburger-menu-animated::after{
    transform: translate(-8px,14px);
  }

  .hamburger-menu-container.open .hamburger-menu-animated {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .hamburger-menu-container.open .hamburger-menu-animated::before {
    transform: rotate(45deg) translate(35px,-35px);
  }
  .hamburger-menu-container.open .hamburger-menu-animated::after {
    transform: rotate(-45deg) translate(35px,35px);
  }

  /* END: Hamburger Animated Menu */
}

.grid-template{
  grid-template-columns: auto 1fr;
}

